* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.conteiner1 {
    display: grid;
    background-image: url("/img/img_first_block/bcg_first.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 1441px 811px;
    grid-template-columns: 150px 312.5px 327px 1fr 1fr;
    grid-template-rows: 0.5fr repeat(4, 1fr) 227px;
}

.logo_webovio {
    grid-area: 1/2/2/3;
    align-self: center;
    height: 40px;
    width: 258px;
}

.icon_menu {
    grid-area: 1/5/2/6;
    align-self: center;
    justify-self: center;
    width: 40px;
    height: 40px
}

.text_1 {
    grid-area: 3/2/2/3;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
}

.text_2 {
    grid-area: 3/2/4/4;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: rgba(255, 255, 255, 1);
}

.text_3 {
    grid-area: 4/2/5/4;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
}

.text_4 {
    grid-area: 5/2/6/3;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(255, 215, 35, 1);

}

.logos_1st_page {
    grid-area: 9/2/11/6;
    width: 1276px;
    height: 227px;

}

.GR_photo_plus_text {
    grid-area: 2/3/5/5;
}



.conteiner2 {

    display: grid;
    grid-template-columns: 200px repeat(2, 1fr) 200px;
    grid-template-rows: 0.5fr 0.5fr 250px 170px 100px 50px;
}

.text_5 {
    grid-area: 3/2/4/3;
    align-self: start;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(77, 83, 60, 0.9);
}

.text_6 {
    grid-area: 3/2/4/3;
    align-self: end;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: rgba(77, 83, 60, 1);
}

.text_7 {
    grid-area: 4/2/5/3;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);

}

.text_8 {
    grid-area: 4/2/5/3;
    align-self: end;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(212, 214, 212, 1);

}

.text_9 {
    grid-area: 1/3/3/4;
    align-self: center;
}